@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {


  --darker-color: #003251;
  --secondary-color: #fff700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #ccc;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
}
.logo img{
  height: 30px;
  width: 50px;
}
.contact-section{
  background:#25d178;
  padding: 20px;
  display: flex;
  justify-content: center;
  color:white; 
  margin: 30px -80px 20px ;
  width: 1100px; 
}
.side-nav img{
  height: 60px;
  width: 60px;
}

.bars img{
  height: 80px;
  width: 260px; 
  margin: -10px 50px -30px;
  margin-left: -420px;
}
.side-icons img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
 
}
.side-icons h5{
  margin: -25px 30px 0px ;
  margin-right: 50px;

}

aside {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}


.container1 {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 100px 100px 0 0;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 100px 100px 0 0;
  overflow: hidden;
}
.image img{
  height: 250px;
  width: 300px;
}
.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-family: Arial, sans-serif;
}
.card-body{
  height: 100px;
  width: 100px;
}
.card-text{
  height: 1px;
  width: 1px;
  
}
.card-text p{
  color: #000;
  height: 5px;
  width: 5px;
}